<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="left">
        <h1 class="text-center display-3">Comics Store About Page</h1>
      </div>
        <div>
          <hr class="bg-white" />
          <br/>

          <h3>This application is for academic purpouses only.</h3>
          <br/>
          <h3>The main objective of this project is to display my Angular skills.</h3>
        </div>
        <div class="text-center jumbotron mt-3 right">
          
          <h3>My Google Map</h3>
          <hr class="bg-white" />
          <br/>
          <div id="map"></div>

        </div>
      </div>
    </div>
  </div>
  
  